
body{

    
     font-family: Itim;
   
    
      /* The image used */
    background-image: url("harry.jpg"  );
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.omer{
  padding-top: 75px;
  margin-left: 310px;
  
}

.renk{

width: 50px;
height: 18px;




}